
* {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

.clear {
	clear: both;
}


body {
    background-color: grey;
    margin-top: 50px;
    font: SF Pro;

}

a {
  text-decoration: none;
  color: white;
}

#container {
    width: 602px;
    margin: 0 auto 0 auto;
    border-radius: 11px;
    border-style: solid;
    border-width: 1px;
    border-color: #7d7d7d;

}

#blackborder {
    margin: 0 auto 0 auto;
    width: 604px;
    border-radius: 11px;
    border-style: solid;
    border-width: 1px;
    border-color: black;

}


#main {
    background-color: #1E1E1E;
    color: white;
    width: 450px;
    float: right;
    height: 800px;
    padding-left: 20px;
    padding-right: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

#sidebar {
	background-color: #5c5c5c;
  color: white;
	width: 150px;
	float: right;
  height: 800px;
  padding: 20px;
 border-top-left-radius: 10px;
 border-bottom-left-radius: 10px;

}

.alignleft {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;

}

.alignright {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;

}

#footer {
  color: white;
  padding-left: 20px;
  margin-bottom: 0px;

}

.macos {
  margin-left: -20px;
  margin-top: -17px;

}


.button {
  font-size: 13px;
  font-weight: lighter;
  margin: -10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
  margin-bottom: 8px;

}

.buttontxt {
  font-size: 13px;
  margin: 0px;

}
.buttonon {
  font-size: 13px;
  font-weight: lighter;
  background-color: #707070;
  margin: -10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
  margin-bottom: 8px;

}

.sidebartxt {
  font-size: 11px;
  color: grey;
  margin-bottom: 12px;
  margin-top: -11px;

}

